---
---

@import "{{ site.theme }}";

#profile-img {
  border-radius: 10px;
  margin-bottom: 10px;
}

body, html {
    background-color: #000;
    color: #FFF;
}

h1, h2, h6 {
  color: #FF2E88;
}

h2 {
  margin-bottom: 0px;
}

h3 {
  color: #EEE;
}

a,h4 {
  color: #50E3C2;
}
