<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.11.0/metricsgraphics.min.css">
    
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="metricsgraphics.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header id="header">
        <h1>Benjamin Mays</h1>
        <img id="profile-img" src="https://avatars3.githubusercontent.com/u/9100476?v=3&s=250"/>
        <p>Email: <a href="mailto: ben@eastside.io">ben@eastside.io</a><br/>
           Keybase: <a href="https://keybase.io/bmays">keybase.io/bmays</a><br/>
           Github: @ben-mays</p><br/>
        <div id="graph"></div>
      </header>

      <script>
        var data = $.get("contribution-data.svg",  function( data ) {
          console.log(data);
          values = [];
          $("rect.day", data).each(function () {
            console.log(this);
            values.push({"date": $(this).attr('data-date'), 
                           "count": $(this).attr('data-count')})
          });
          console.log(values)
          MG.data_graphic({
            title: "Commits",
            description: "Commits over Time",
            data: values,
            width: 250,
            height: 250,
            target: "#graph",
            x_accessor: "date",
            y_accessor: "commits",
          });
        });
      </script>
      
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small><!-- Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a>--></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </body>
</html>
