<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.11.0/metricsgraphics.min.css">
    
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="metricsgraphics.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header id="header">
        <h1>Benjamin Mays</h1>
        <img id="profile-img" src="https://avatars3.githubusercontent.com/u/9100476?v=3&s=150"/>
        <p>Email: <a href="mailto: ben@eastside.io">ben@eastside.io</a><br/>
           Keybase: <a href="https://keybase.io/bmays">keybase.io/bmays</a><br/>
           Github: @ben-mays</p><br/>
      </header>

      <script>
        var data = $.get("contribution-data.svg",  function( data ) {
          console.log(data);
          dailyValues = [];
          weeklyValues = [];
          $("rect.day", data).each(function () {
            console.log(this);
            dailyValues.push({"date": new Date($(this).attr('data-date')), 
                           "count": $(this).attr('data-count')})
          });
          // raw agg for the week
          for(var i = 0; i < dailyValues.length; i+=7) {
              var sum = 0;
              for(var j = i; j < i + 7; j++) {
                  if(dailyValues[j]) {
                      sum += parseInt(dailyValues[j].count);
                  }
              }
              d = new Date(dailyValues[i].date)
              weeklyValues.push({"date": d, "count": sum})
          }
          console.log(JSON.stringify(weeklyValues));
          MG.data_graphic({
            title: "Commits",
            data: weeklyValues,
            full_width: true,
            height: 300,
            target: "#graph",
            interpolate: d3.curveStep,
            x_accessor: "date",
            y_accessor: "count",
          });
        });
      </script>
      
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small><!-- Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a>--></small></p>
        <div id="graph"></div>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </body>
</html>
